*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --red-color: #f43f5e;
    --dark-color: #0f172a;

}

.p-block {
    max-width: 650px;
}

.fs-7 {
    font-size: 14px;
}

.fs-0 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

@media (min-width: 768px) {
    .fs-0 {
        font-size: 48px;
        line-height: 50px;
    }
}

.tt-commons {
    font-family: 'TT Commons', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

/* Side bar */


@media (min-width: 768px) {
    .md-screen {
    height: 100vh;
    }
}


.sidebar-root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100%;
    width: 81px;
    display: none;
    border-right: 1px solid #cbd5e1;
    padding-top: 20px;
    padding-bottom: 12px;
}

@media (min-width: 768px) {
    .sidebar-root {
        display: block;
    }
}



.md-block {
    display: block;
}


@media (min-width: 768px) {
    .md-block {
        display: none;
    }
}

.sidebar-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: var(--red-color);
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-decoration: none;
}

.logo:hover {
    color: var(--red-color);
}

.sidebar-bar {
    width: 16rem;
    rotate: -90deg;
}


.sidebar-bar {
    font-weight: 400;
    text-transform: uppercase;
}


.sidebar-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.sidebar-icon:hover {
    transform: scale(1.3);
    color: var(--red-color);
    fill: var(--red-color);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

.tech-stack-container {
    padding-top: 100px;
    padding-bottom: 100px;
}


.layout-root {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
    .layout-root {
        grid-template-columns: 80px auto;
    }
}


.navbar {

    border-bottom: 1px solid #cbd5e1;
    background-color: #ffffff;
}


.toggle-btn {
    border: none;
    color: var(--dark-color);
    background-color: transparent;
    font-size: 24px;
}

.toggle-close {
    margin-right: 32px;
    color: var(--dark-color);
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .hidden {
        display: block;
    }
}



.link-root {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    color: var(--dark-color);
    text-decoration: underline;
}

.link-root:hover {
    color: var(--dark-color);
    text-decoration-color: var(--red-color);
}

.offcanvas {
    width: 100% !important;
    background:rgba(255,255,255, 0.3);
    transition: 1s;
    border: none !important;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 500;
}

main {
    margin-top: 57px;
}

/* .grid-container {
    display: grid;
}



@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2,minmax(0,1fr));
        height: 100vh;
        margin-bottom: 10rem;

    }
} */

.flex-container {
    display: flex;
}

.red-btn {
    padding: 1rem 1.75rem;
    margin-right: 15px;
    background-color: var(--red-color);
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
    outline-color: var(--red-color);
    outline-offset: 0px;
    text-shadow: none;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }
  
.red-btn:hover {
    outline-color: rgba(255, 0, 0, 0.918);
    outline-offset: 3px;
}


.dark-btn {
    padding: 1rem 1.75rem;
    margin-right: 15px;
    background-color: var(--dark-color);
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
    outline-color: var(--dark-color);
    outline-offset: 0px;
    text-shadow: none;
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.dark-btn:hover {
    outline-color: var(--dark-color);
    outline-offset: 3px;
}


.red-btn a, .dark-btn a {
    color: #fff;
    text-decoration: none;
    line-height: 1.25rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

@media (min-width: 768px) {
    .dark-btn, .red-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    }
}



.scroll-down {
    position: absolute;
    bottom: 0;
    left: 12px;
    display: flex;
    align-items: center;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 20px;
}

.scroll-down:hover {
    color: var(--dark-color);
    cursor: pointer;
}

.scroll-down svg {
    height: 24px;
    margin-right: 10px;
}


.section-title {
    font-size: 2.25rem;
    font-weight: 600;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

/* .section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: var(--red-color);
    position: absolute;
    left: 0;
    top: 0;
} */

.skill-section-container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .carousel {
    position: relative;
    overflow-x: hidden;
    background-color: var(--dark-color);
}

.carousel__slider {
    height: 12rem;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (min-width: 768px) {
    .carousel__slider {
        height: 16rem;
    }
}

.carousel__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-flex;
    justify-content: space-around;

}

.carousel__item {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}


.carousel__icon  {
    height: 60px;
}

.carousel__icon:hover {
    scale: 1.25;
    transition: .5s;
} */



.section__link {
    font-size: 17px;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
}

.section__link:hover {
    color: var(--red-color);
    transition: .2s;
}


/* TEST */


.slider-wrapper {
    position: relative;
    height: 12rem;
    width: 100%;
    display: flex;
    place-items: center;
    overflow: hidden;
    background-color: var(--dark-color);
}

@media (min-width: 768px) {
    .slider-wrapper {
        height: 400px;
    }
}

.slider-track {
    position: absolute;
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-around;
}


.slide {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide:hover {
    scale: 1.25;
    transition: .5s;
}

.slide .carousel__icon {
    height: 60px;
}




/* .project-card .card-img-holder {
    vertical-align: middle;
}

.card-img {
    object-fit: contain;

}

.project-card {
    border: none;
    margin-left: 48px;
    margin-right: 48px;
    position: relative;
    height: 100%;
}
 */

.projects-section {
    background-color: #f8fafc;
    width: 100%;
}


.project-card {
    height: 100%;
    background-color: transparent;
    /* border: 1px solid var(--dark-color); */
    background-color: #fff;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border: 1px solid #cbd5e1;
}

.project-heading-container {
    display: flex;
}


.project-image-container {
    height: 150px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}

.project-image-container img {
    height: 100%;
    object-fit: contain;
    max-width: 245px;
}

@media (max-width: 768px) {
    .project-heading-container {
        flex-direction: column;
        align-items: center;
    }

}



.project-heading span {
    font-weight: 600;
    font-size: 24px;

}

.project-body p {
    font-size: 20px;
}



.project-github-link {
    padding: 10px;
    
}

.project-github-link a {
    text-decoration: none;
    color: var(--dark-color);
}

.project-github-link a:hover {
    color: var(--red-color);
    transition: .2s;
}

.project-heading .project-skill {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin-right: 10px;
}

.project-skill img {
    height: 100%;
    /* filter: grayscale(1) */
}

.project-skill img:hover {
    filter: grayscale(0)
}


.contact-me-container {
    background-color: #f8fafc;
    
}


/* BLOG */

.project-screenshot {
    width: 100%;
}


.blog-posted {
    display: flex;
    justify-content: space-between;
    color: #0f172a;
    font-size: 20px;
}

.resume-name {
    color: var(--red-color);
}

.resume-link {
    color: var(--dark-color);
    text-decoration: none;
}

.resume-link:hover {
    columns: var(--dark-color);
}


.skill-heading {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
    color: var(--dark-color);
}

.scroll-to-top svg {
    fill: var(--red-color);
    height: 27px;
    width: 27px;
}

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 10px solid var(--red-color);
    background-color: #ffffff;
    color: #cbd5e1;
    z-index: 10;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

.active {
    display: block;
}


.scroll-to-top:hover {
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg) scale(1.1);
}
  




  .up-down-slide {
	-webkit-animation: up-down-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
	        animation: up-down-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}


  @-webkit-keyframes up-down-slide {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
  }
  @keyframes up-down-slide {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
  }

  .slide-right-button {
	-webkit-animation: slide-right-button .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-button .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

  @-webkit-keyframes slide-right-button {
    0% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right-button {
    0% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

.slide-left-button {
	-webkit-animation: slide-left-button .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left-button .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @-webkit-keyframes slide-left-button {
    0% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left-button {
    0% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


  .focus-in-contract {
	-webkit-animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 12px;
      -webkit-filter: blur(1px);
              filter: blur(1px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 12px;
      -webkit-filter: blur(1px);
              filter: blur(1px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }



.slide-right-text {
	-webkit-animation: slide-right-text 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-text 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right-text {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right-text {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


  .slide-bottom {
	-webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-80px);
              transform: translateY(-80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-80px);
              transform: translateY(-80px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }


  .hi-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation: 1s ease-out 0s 1 slide-right-text;
}